.App {
  text-align: center;
  color: white;
  /* background: linear-gradient(to right, rgba(1, 27, 47, 0.85), rgba(1, 8, 30, 0.85)); */

  /* height: 100%; */
  /* width: 100%; */
  margin-top: 30px;
  margin-bottom: 40px;
 
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to right, rgba(1, 27, 47, 0.85), rgba(1, 8, 30, 0.85));

}
.App-logo {
  height: 40vmin;
  pointer-events: none;


}
a {
  color: #61dafb;
}
h1 {
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  /* background-image: url('https://res.cloudinary.com/dgupxycnh/image/upload/v1711570334/12244_1_ngvzh0.webp');
  background-size: cover;
  background-position: center; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  overflow: hidden;
  width: 50%; /* Adjust width as needed */
  margin: 0 auto; /* Set left and right margins to 'auto' */
  
}
@media only screen and (max-width: 768px) {
  .App-header {
    width: 90%;
  }
}


.label-1{
  text-align: left;
  padding-left: 5px;
  /* font-size: 12px; */
  width:70%
}
.label-2{
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  width:30%;
  display: flex;
  justify-content: right;
  align-items: flex-end;

}
.label-3{
  padding: 5px 10px;
  font-size: 12px;
  background: #A020F0;
  border-radius: 10px;
  text-align: center;
}
.label-container{
display: flex;
padding: 30px 0px 7px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button {
  background-color: #A020F0; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 700;
}

.button-update {
  background-color: #2196f3; /* Blue */
}

.button-submit {
  background-color: #4caf50; /* Green */
}

.button:hover {
  opacity: 0.8;
}
.form {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .form {
    /* width: 90%; */
  }
}

input {
  border: none;
  /* background-color: transparent;  */
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin: 4px 2px;
  /* cursor: pointer; */
  border-radius: 8px;
  outline: none; /* Removes the outline to further clean up the styling */
  color: #A020F0;
}
.copy {
  /* padding:5px; */
  background-color: antiquewhite;
  color: #A020F0;
}
.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  /* height: calc( 100% - 100px ); */
}
body {
  /* overflow-y: scroll;  */
  scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.logo-container{
display: flex;
width: 120px;
justify-content: space-between;
@media only screen and (max-width: 768px) {
  width: 100px;
}

}
.logo-container a {
  text-decoration: none;
}
.logo-container-img{
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  cursor: pointer;
  @media only screen and (max-width: 768px) {
    width: 40px;
  }
  }
  .logo-container-img img{
    height: 100%;
    width: 100%;

    }
    .logo-container-img span{
     font-size: 10px;
  
      }